MEDIA_IMPORT=/srv/media-import
MEDIA_ENCODE=/fast/media-encode
MEDIA_COMPLETE=/srv/media-complete
MEDIA_HOLD=/srv/media-hold
MEDIA_CONFIG=/srv/media-config
CERT_PATH=/srv/certs
MOVIES_PATH=/srv/media/movies
TV_PATH=/srv/media/tv
RENDER_GID=105
CONTAINER_CPUS=8
CONTAINER_MEM=16g
